<button class="btn btn-toolbar" data-toggle="modal" data-target="#othertestspopup" id="myBtn">
    Create
</button>


<div class="modal  fade" id="othertestpopup"  data-backdrop="true" role="dialog"  aria-labelledby="myModalLabel"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">&times;</button>
                <div class="modal-title" style="font-family:'Times New Roman'; color:chocolate; font-size:x-large">Do you want to add other entry tests info?</div>
            </div>
            <div class="modal-body">
                <a href="#" class="btn btn-lg ">Yes</a>
                &mdash;
                <a href="#" class="btn btn-lg " >no</a>
            </div>
            <div class="modal-footer">
                <div class="btn btn-danger close-btn " style="border-color:red" data-dismiss="modal" aria-label="Close">Cancel</div>


            </div>
        </div>
    </div>
</div>

