
@{
    ViewBag.Title = "meritlist";
}
<style>
    body {
        background-color: #e3ee9e;
    }
</style>

<h2>Merit List is generated Successfully...</h2>

<button class="btn btn-success"  onclick="window.location.href='@Url.Action("deleteall", "Student")';" >GO back</button>
<button class="btn btn-info" onclick="window.location.href='@Url.Action("openlist", "Student")';">Open your list</button>


